$fontFamily:'Roboto', sans-serif;
$baseFontMob:15px;
$baseFontPC:18px;

/*Primary Colors*/
$color1:#EA3217;
$color2:#FCECC9;
$color3:#FBFBFB;
$white: #ffffff;
$black:#111111;
/*Secondary Colors*/
$offWhite:#fbfbfb;
$borderGray:#ebedf3;
$lightGray:#f3f3f3;
$textGray:#7a7c7e;
$gray:#545454;
$darkGray:#1e1f20;
/*Form Colors*/
$red: #ff8181;
$green:#4ac434;
$yellow:#ffec44;
/*Pc Font Size*/
$font-xxl:4.768rem;
$font-xl:3.583rem;
$font-lg:2.986rem;
$font-1: 2.488rem;
$font-2: 2.074rem;
$font-3:1.728rem;
$font-4: 1.44rem;
$font-5: 1.2rem;
$font-6: 1rem;
$baseline: 1rem;

/*Mobile Font Size*/
$fontMob-1: 0.833rem;
$fontMob-2: 0.694rem;
$fontMob-3:0.579rem;

$fontSmall:.9rem;
$containerMaxWidth:1800px;
$sectionMaxWidth:1200px;
$lgSpacing:2rem;
$smSpacing:0.579rem;