{%  extends "base.twig" %}

{% block body %}
	<!----Header Section End-->
	<!---------------------Page Container Section---------------->
	<!---product Menu-->
		<section id="productMenu" class="section"> <div class="innerSection">
			<a href="/Section/men">For Men</a>
			<a href="/Section/women">For Women</a>
			<a href="/Section/kids">For Kids</a>
		</div>
	</section>
	<!---product Menu-->
	<section id="wallSlideContainer">
		<div id="wallSlide">
			<div class="slide backgroundCoverImageCenter" style="background-image: url(/image/Banner1.png);"></div>
			<div class="slide backgroundCoverImageCenter" style="background-image: url(/image/Banner1.png);"></div>
			<div class="slide backgroundCoverImageCenter" style="background-image: url(/image/Banner1.png);"></div>
		</div>
	</section>
	<!---product Container-->
	<section class="productContainer section">
		<div
			class="innerSection">
			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic1.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

		</div>
	</section>
	<!---Video Banner-->
	<section class="videoBanner section">
		<div class="innerSection">
			<div class="contentDiv">
				<h2 class="bannerTitle">Take a little Time</h2>
				<h3 class="bannerSubTitle">Watch until the end for a surprise!</h3>
			</div>
			<div class="videoDiv">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/4zBH7rgMPQA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</section>
	<!---product Container-->
	<section class="productContainer section">
		<div
			class="innerSection">
			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic1.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>
			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic1.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>
			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic1.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																                            adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

		</div>
	</section>
	<!------------------------Page Container Section End------------------------>
	<!---Footer Section-->
{% endblock %}
