{%  extends "base.twig" %}

{% block body %}
	<!----Header Section End-->
	<!---------------------Page Container Section---------------->
	<!---Page Navigation-->
		<div id="pageNav" class="section"> <div class="innerSection">
			<a href="/">Home</a><img src="/image/icon/Right arrow.png" alt="">
			<a href="">Dress for Men</a><img src="/image/icon/Right arrow.png" alt="">
			<a href="/">Marshmello T-shirt</a>
		</div>
	</div>
	<section id="referralPage" class="section sectionContainer">
		<div class="innerSection">
			<div class="image">
				<img src="/image/product/Pic1.png" alt="">
			</div>
			<div class="contentDiv">
				<div class="content">
					<h2 class="title">Comet & Stars Referral Program</h2>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa laboriosam expedita voluptas culpa incidunt,
						       asperiores, optio, sunt voluptate nulla possimus fugiat cumque dignissimos assumenda quia minus voluptates illo
						       ipsam. Voluptatem?</p>
					<h2 class="text">Are you in for it?</h2>
					<div class="buttonSection">
						<a href="" class="button button1">Yes, I am!</a>
						<a href="" class="button button6">Skip</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!------------------------Page Container Section End------------------------>
	<!---Footer Section-->
{% endblock %}
