{%  extends "base.twig" %}

{% block body %}
	<!----Header Section End-->
	<!---------------------Page Container Section---------------->
	<!---Page Navigation-->
		<div id="pageNav" class="section"> <div class="innerSection">
			<a href="/">Home</a><img src="/image/icon/Right arrow.png" alt="">
			<a href="">Return And Refund Policy</a>
		</div>
	</div>
	<section id="pageContainer" class="sectionContainer">
		<h4 class="pageTitle section">Return And Refund Policy</h4>
		<div class="section">
			<div class="innerSection">

				<h5 class="subTitle">Thank you for shopping at
					<a href="">Cometandstars.com</a>
				</h5>
				<p>If, for any reason, You are not completely satisfied with a purchase We invite You to review our policy on refunds and returns.
				</p>
				<ul>
					<li>
						Customers can return/exchange their order within 15 days after an order has been delivered.<br>
						For all exchanges and returns please email our customer care executive at
						<a href=" mailto:cometstarsindia@gmail.com">cometstarsindia@gmail.com</a>
						along with your complete order details and issues.
					</li>
					<li>Attach & send us the Video/ Videos of the products, packaging slip, and packaging bag that you have received along with your return/exchange mail.</li>
					<li>Our team will revert you within 48 hours with pickup request via e-mail.</li>
					<li>You are requested to self ship the product/produtcts . Also,kindly have a word with our customer care executive before sending the products back to us via self-shipment or speed post. Please pack the items securely to prevent any loss
																																																								                        or damage during transit.</li>
					<li>You can courier the product(s) to the address mentioned below: COMET & STARS PRIVATE LIMITED
						<br>PALAPPUZHATHU PLAZA,
						<br>
						FIRST FLOOR, OFFICE NO 101,<br>
						TITANIUM JN , CHAVARA,KOLLAM,KERALA,INDIA,691583
					</li>
					<li>Once we have received the products and our internal quality check has been carried out, the product amount will be credited back to your WALLET within 3 days.
					</li>
					<li>
						Please note-We will accept Return or Exchanges of an Item only if the following conditions are met:<br>
						-Return or size exchange should be initiated within 10 days of delivery of the Item;<br>
						-The tags and labels on the item should
																																																								                        be intact;<br>
						-The Product should be unwashed, unused, and in undamaged condition;and<br>
						-The Product is returned along with the original packaging;
					</li>
					<li>-Don't accept the items in case the product packaging has tampered during the course of delivery.</li>
					<li>Please be informed that the Returns or Exchanges are not acceptable for any request that does not meet the aforementioned criteria.</li>
				</ul>
				<ul class="listMain">
					<li class="listColor">No Refund if customer receives payment from Company</li>
					<li>Refund only when customer doesn’t receive any kind of payment from the company</li>
					<li>Refund will be credited to the customers Wallet on the confirmation.The amount stays there for 15 working days
					</li>
					<li>Fund will be credited on the next 3 working days if the customer seeks refund again</li>
				</ul>

			</div>
		</div>
	</section>
	<!------------------------Page Container Section End------------------------>
	<!---Footer Section-->
{% endblock %}
