{%  extends "base.twig" %}

{% block body %}
	<!----Header Section End-->
	<!---------------------Page Container Section---------------->
	<!----Order Container-->
		<section id="orderContainer" class="section sectionContainer"> <div
			class="innerSection">
			<!---order main Section-->
			<div class="orderMain">
				<div id="orderNav">
					<div class="navActive navMenu">Check Out</div>
					<span></span>
					<div class="navMenu">Shipping</div>
					<span></span>
					<div class="navMenu">Payment</div>
				</div>

				<div
					id="orderMainWrapper">
					<!---Cart List-->
					<div class="cartListSection orderDiv">
						<div class="titleDiv">
							<p>Items<span>(2)</span>
							</p>
						</div>
						<!---order List-->
						<ul
							class="cartListDiv">
							<!---List-->
							<li class="cartList">
								<div class="image">
									<img src="/image/product/Pic1.png" alt="">
								</div>
								<div class="content">
									<div class="titleDiv">
										<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																																																															            adipiscing</h4>
									</div>
									<h5 class="price">Rs
										<span>1205</span>
									</h5>
									<ul class="details">
										<li class="list">
											<p>Size:
												<span>M</span>
											</p>
										</li>
										<span class="border"></span>
										<li class="list">
											<p>
												Colour:
												<span>Black</span>
											</p>
										</li>
										<span class="border"></span>
										<li class="list">
											<div class="qty">
												Qty
												<select name="" id="">
													<option value="">1</option>
													<option value="">2</option>
													<option value="">3</option>
													<option value="">4</option>
												</select>
											</div>
										</li>
									</ul>
									<div class="delete">
										<img src="/image/icon/bin.png" alt="">
									</div>
								</div>
							</li>
							<!---List-->
							<li class="cartList">
								<div class="image">
									<img src="/image/product/Pic1.png" alt="">
								</div>
								<div class="content">
									<div class="titleDiv">
										<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																																																																																																																																																																																															            adipiscing</h4>
									</div>
									<h5 class="price">Rs
										<span>1205</span>
									</h5>
									<ul class="details">
										<li class="list">
											<p>Size:
												<span>M</span>
											</p>
										</li>
										<span class="border"></span>
										<li class="list">
											<p>
												Colour:
												<span>Black</span>
											</p>
										</li>
										<span class="border"></span>
										<li class="list">
											<div class="qty">
												Qty
												<select name="" id="">
													<option value="">1</option>
													<option value="">2</option>
													<option value="">3</option>
													<option value="">4</option>
												</select>
											</div>
										</li>
									</ul>
									<div class="delete">
										<img src="/image/icon/bin.png" alt="">
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!---order Card Section-->
			<div class="orderSub">
				<div id="checkoutCard">
					<ul>
						<li>
							<p>Cart Total</p>
							<p>Rs 1099</p>
						</li>
						<li>
							<p>Shipping Charges</p>
							<p>FREE</p>
						</li>
						<span class="border"></span>
						<li>
							<h5>Totally Payable</h5>
							<h5>Rs 1099</h5>
						</li>
					</ul>
					<a href="/Order/shipping" class="button button1">Proceed to Checkout</a>
				</div>
			</div>
		</div>
	</section>

	<!---product Container-->
	<section class="productContainer section">
		<div
			class="innerSection">
			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																															       adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic1.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																															       adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																																																																															       adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

		</div>
	</section>
	<!------------------------Page Container Section End------------------------>
	<!---Footer Section-->
{% endblock %}
