{%  extends "base.twig" %}

{% block body %}
	<!----Header Section End-->
	<!---------------------Page Container Section---------------->
		<section id="referralLinkDiv" class="section sectionContainer"> <div class="innerSection">
			<h3>Your Order has been Placed. Thank you for ordering from Comet & Stars.
			</h3>
			<h3>Earn more with our
				<span>Referral Program</span>
			</h3>
			<form id="referralLink" action="">
				<p>Referral Link :</p>
				<div class="referralLinkCopyDiv">
					<div class="referralLinkCopy"></div>
					<a href="" class="icon"><img src="/image/icon/copy-disabled.png" alt=""></a>
				</div>
			</form>
			<div class="smDiv">
				<p>Share Via :</p>
				<div class="smIcon">
					<a href="" class="icon">
						<img src="/image/icon/mail.png" alt=""></a>
					<a href="" class="icon">
						<img src="/image/icon/whatsapp.png" alt=""></a>
					<a href="" class="icon">
						<img src="/image/icon/fb.png" alt=""></a>
					<a href="" class="icon">
						<img src="/image/icon/twitter.png" alt=""></a>
				</div>
			</div>
		</div>
	</section>

	<!---product Container-->
	<section class="productContainer section">
		<div
			class="innerSection">
			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																										       adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic1.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																										       adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

		</div>
	</section>
	<!------------------------Page Container Section End------------------------>
	<!---Footer Section-->
{% endblock %}
