{%  extends "base.twig" %}

{% block body %}
	<!----Header Section End-->
	<!---------------------Page Container Section---------------->
	<!---Page Navigation-->
		<div id="pageNav" class="section"> <div class="innerSection">
			<a href="/">Home</a><img src="/image/icon/Right arrow.png" alt="">
			<a href="">Dress for Men</a>
		</div>
	</div>

	<!---product Container-->
	<section class="productContainer section">
		<div
			class="innerSection">
			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic1.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																										       adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

			<!---Product Card-->
			<a
				href="/Product/product-page" class="productCard">
				<!---Image-->
				<div class="image">
					<img src="/image/product/Pic2.png" alt="">
				</div>
				<!---Content-->
				<div class="content">
					<h4 class="title">Neque porro quisquam consectetur
																																																																																																																																										       adipiscing</h4>
					<div class="priceSection">
						<div class="priceDiv">
							<h3 class="price">Rs
								<span>1205</span>
							</h3>
							<p class="oldPrice">Rs
								<span>1400</span>
							</p>
						</div>
						<div class="offer">
							45% Off
						</div>
					</div>
				</div>
			</a>

		</div>
	</section>
	<!------------------------Page Container Section End------------------------>
	<!---Footer Section-->
{% endblock %}
