<html>
    <head>
        <title>{{code}} - Swentx</title>
    </head>
    <body>
<style>
    #errorDiv{
       display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 2;
        left: 0;
        background-color: #fefefe;
    }
    body,h1,h2,h3{
        padding:0;
        margin:0;
        color:#a0522d;
    }
</style>
<div id="errorDiv">
    <h1  style='color: #fe1e1e;font-size:4.2em'>{{code}}</h1>
    <h1>{{msg}}</h1>
</div>
    </body>
</html>

